.api-add-button {
  background-color:#546e7a;
  color: white;
  border-radius: 20px;
}

.api-icon-button {
  color: #546e7a;
}

.row{
  padding: 10px;
}

.mat-toolbar {
  background:white !important;
}
