<mat-toolbar>
  <span>Create API</span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button class='api-icon-button' style="float:right;" (click)="onClose()" tabindex="-1">
    <mat-icon>cancel</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="createApiForm" (ngSubmit)="onSubmit()">
    <div class="row m12 s12">
      <div class="col m2 s12">
        <mat-form-field style="width:100%;">
          <input matInput placeholder="Api Name" formControlName="api_name">
          <mat-error *ngIf="createApiForm.controls['api_name'].errors?.required"> {{ errorRequired() }} </mat-error>
        </mat-form-field>
      </div>

      <div class="col m2 s12">
        <mat-form-field style="width:100%;">
          <mat-select placeholder="Api Type" formControlName="api_type">
            <mat-option *ngFor="let api of apis" [value]="api.value">
              {{api.type}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createApiForm.controls['api_type'].errors?.required"> {{ errorRequired() }} </mat-error>
        </mat-form-field>
      </div>
      <div class="col m4 s12">
        <mat-form-field style="width:100%;">
          <input matInput placeholder="Api Endpoint" formControlName="api_endpoint">
          <mat-error *ngIf="createApiForm.controls['api_endpoint'].errors?.required"> {{ errorRequired() }} </mat-error>
        </mat-form-field>
      </div>
      <div class="col m4 s12">
        <mat-form-field style="width:100%;">
          <input matInput placeholder="description" formControlName="description">
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div formArrayName="parameters">
      <div *ngFor="let param of apiParameters.controls; let i=index" [formGroupName]="i">
        <div class="row m12 s12">
          <div class="col m2 s12">
            <mat-form-field style="width:100%;">
              <input matInput placeholder="Parameter Name" formControlName="param_name">
              <mat-error> {{ errorRequired() }} </mat-error>
            </mat-form-field>
          </div>
          <div class="col m2 s12">
            <mat-form-field style="width:100%;">
              <input matInput placeholder="Default Value" formControlName="default_value">
            </mat-form-field>
          </div>
          <div class="col m2 s12">
            <mat-form-field style="width:100%;">
              <input matInput placeholder="Sample Value" formControlName="sample_value">
            </mat-form-field>
          </div>
          <div class="col m2 s12">
            <mat-form-field style="width:100%;">
              <mat-select placeholder="Optional" formControlName="optional">
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{option.type}}
                </mat-option>
              </mat-select>
              <mat-error> {{ errorRequired() }} </mat-error>
            </mat-form-field>
          </div>
          <div class="col m3 s12">
            <mat-form-field style="width:100%;">
              <input matInput placeholder="Description" formControlName="description">
            </mat-form-field>
          </div>
          <div class="col m1 s12">
            <button mat-icon-button class="api-icon-button" (click)="deleteParameter(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="api-add-button" (click)="addParameter()">Add Parameter</button>
  <button mat-raised-button class="api-add-button" [disabled]="!createApiForm.valid" (click)="onSubmit()">Create Api</button>

</mat-dialog-actions>