<div class="col m12 s12">
  <mat-toolbar>
    <h2>APIs ({{ apiCount }})</h2>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button class='api-add-button' (click)="onShowDialog()">+ Add API</button>
  </mat-toolbar>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="col m12 s12">
  <table mat-table [dataSource]="dataSource">
      {{ dataSource }}
    <!-- API type Column -->
    <ng-container matColumnDef="api_type">
      <th mat-header-cell *matHeaderCellDef style="display: none"></th>
      <td style="color:brown" mat-cell *matCellDef="let element" [style.color]="element.api_color" style="cursor: pointer;"> {{ element.api_cat }} </td>
    </ng-container>

    <!-- API name Column -->
    <ng-container matColumnDef="api_name">
      <th mat-header-cell *matHeaderCellDef style="display: none"> </th>
      <td mat-cell *matCellDef="let element" style="cursor: pointer;"> {{ element.api_name }} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onColumnSelect(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>