table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

  .mat-toolbar {
    background:white !important;
}

.api-add-button {
    background-color:#546e7a;
    color: white;
    border-radius: 20px;
}
