<div #scrollMe class="col m12 s12" style="margin-top:20px; margin-bottom: 20px">
    <h6>Map Skill to API(s)</h6>
    <form [formGroup]="mapApiToSkillForm">
        <div class="row">
            <div class="col m4 s12">
                <mat-form-field style="width:100%">
                    <mat-select (selectionChange)="onSkillSelcetChange($event)" placeholder="Skill" formControlName="skill_uuid">
                        <mat-option *ngFor="let skill of skills" [value]="skill.skill_id">
                            {{ skill.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="mapApiToSkillForm.controls['skill_uuid'].errors?.required"> {{ errorRequired() }} </mat-error>
                </mat-form-field>
            </div>
            <div class="col m8 s12">
                <mat-form-field style="width:100%;">
                    <input matInput placeholder="description" formControlName="description">
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div formArrayName="api_set">
            <div class="col m12 s12" *ngFor="let apis of apiSets.controls; let i=index" [formGroupName]="i">
                <div class="row">
                    <div class="col m4 s12">
                        <p style="font-weight: 500;">{{apis.get('api_name').value}}</p>
                        <p>( {{apis.get('api_desc').value}} )</p>
                        <button mat-icon-button class="api-icon-button" (click)="deleteApiSet(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <div class="col m8 s12">
                    <div formArrayName="parameter_concept_map">
                        <div class="row" *ngFor="let paramConcepts of apis.controls.parameter_concept_map.controls; let a=index">
                            <div formGroupName="{{a}}">

                                <div class="col m6 s12">
                                    <mat-form-field style="width:100%">
                                        <input matInput placeholder="Param Name" disabled value="{{paramConcepts.get('param_name').value}}">
                                    </mat-form-field>
                                </div>
                                <div class="col m6 s12">
                                    <mat-form-field style="width:100%">
                                        <mat-select placeholder="Concept" formControlName="concept_name">
                                            <mat-option *ngFor="let concept of concepts" [value]="concept.concept">
                                                {{ concept.concept }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error> {{ errorRequired() }} </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

                <mat-divider></mat-divider>
            </div>
        </div>
        <button type="submit" mat-raised-button class="api-add-button" style="margin-top: 10px; float: right;"  (click)="onSubmit()" [disabled]="!mapApiToSkillForm.valid || !apiExsist" >Submit</button>
    </form>
</div>
