<div class="row marleft">
  <!-- Pannel Left  -->
  <div class="col m3 s12" style="margin-top:10px">
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
      <app-list-api></app-list-api>
    </div>
  </div>
  <!-- Pannel Right  -->
  <div class="col m9 s12" style="margin-top:10px">
     <app-view-api></app-view-api>
    <div class="col m12 s12 white mat-elevation-z4" style="border-radius:4px">
        <app-skill-api-map></app-skill-api-map>
    </div>
  </div>
</div>