.api-add-button {
    background-color:#546e7a;
    color: white;
    border-radius: 20px;
    margin: 10px;
    float:right;
}

.api-icon-button {
    color: #546e7a;
}

.mat-toolbar h6 {
    font-size: 1.15rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0;
}
