<div *ngIf="isApiSelected" class="col m12 s12 white mat-elevation-z4" style="border-radius:4px; margin-bottom:20px;">
  <div class="row" style="padding:20px;">
  <div style="display: inline;">
    <h6 style="display: inline">API - </h6>
    <h6 style="margin-left:10px; display: inline;"> {{api.api_name}} </h6><span style="margin-top: 10px; margin-left: 20px; display: inline">
      ( {{api.api_endpoint}} ) </span>
  </div>
</div>
  <div class="col m12 s12">
    <table mat-table [dataSource]="dataSource">

      <!-- Parameter name column -->
      <ng-container matColumnDef="param_name">
        <th mat-header-cell *matHeaderCellDef>Parameter Name</th>
        <td mat-cell *matCellDef="let element"> {{element.param_name}} </td>
      </ng-container>

      <!-- Description column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Sample vlaue column -->
      <ng-container matColumnDef="sample_value">
        <th mat-header-cell *matHeaderCellDef>Sample Value</th>
        <td mat-cell *matCellDef="let element"> {{element.sample_value}} </td>
      </ng-container>

      <!-- Default vlaue column -->
      <ng-container matColumnDef="default_value">
        <th mat-header-cell *matHeaderCellDef>Default Value</th>
        <td mat-cell *matCellDef="let element"> {{element.default_value}} </td>
      </ng-container>

      <!-- Optional column -->
      <ng-container matColumnDef="is_optional">
        <th mat-header-cell *matHeaderCellDef>Optional</th>
        <td mat-cell *matCellDef="let element"> {{element.is_optional}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button class='api-add-button' (click)="onCancel()">Cancel</button>
    <button mat-raised-button class='api-add-button' (click)="onAddClicked()">Add to Skill Mapper</button>
  </div>
</div>