// Here you can add other styles
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
   }
  
  body {
    margin: 0; }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
   }
  
  button,
  input {
    overflow: visible; }
  
  button,
  select {
    text-transform: none; 
  }
  
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  table, th, td {
    border: none; }
  
  table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0; }
  
    // column and row css for responsive
  .col .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem; }

  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
    .row:after {
      content: "";
      display: table;
      clear: both; }
    .row .col {
      float: left;
      box-sizing: border-box;
      padding: 0 0.75rem;
      min-height: 1px; }
      .row .col[class*="push-"], .row .col[class*="pull-"] {
        position: relative; }
      .row .col.s12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .row .col.offset-s12 {
        margin-left: 100%; }
      .row .col.pull-s12 {
        right: 100%; }
      .row .col.push-s12 {
        left: 100%; }
      @media only screen and (min-width: 601px) {
        .row .col.m1 {
          width: 8.3333333333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m2 {
          width: 16.6666666667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m3 {
          width: 25%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m4 {
          width: 33.3333333333%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m6 {
          width: 50%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m8 {
          width: 66.6666666667%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m9 {
          width: 75%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.m12 {
          width: 100%;
          margin-left: auto;
          left: auto;
          right: auto; }
        .row .col.offset-m1 {
          margin-left: 8.3333333333%; }
        .row .col.pull-m1 {
          right: 8.3333333333%; }
        .row .col.push-m1 {
          left: 8.3333333333%; }
        .row .col.offset-m2 {
          margin-left: 16.6666666667%; }
        .row .col.pull-m2 {
          right: 16.6666666667%; }
        .row .col.push-m2 {
          left: 16.6666666667%; }
        .row .col.offset-m3 {
          margin-left: 25%; }
        .row .col.pull-m3 {
          right: 25%; }
        .row .col.push-m3 {
          left: 25%; }
        .row .col.offset-m4 {
          margin-left: 33.3333333333%; }
        .row .col.pull-m4 {
          right: 33.3333333333%; }
        .row .col.push-m4 {
          left: 33.3333333333%; }
        .row .col.offset-m6 {
          margin-left: 50%; }
        .row .col.pull-m6 {
          right: 50%; }
        .row .col.push-m6 {
          left: 50%; }
        .row .col.offset-m8 {
          margin-left: 66.6666666667%; }
        .row .col.pull-m8 {
          right: 66.6666666667%; }
        .row .col.push-m8 {
          left: 66.6666666667%; }
        .row .col.offset-m9 {
          margin-left: 75%; }
        .row .col.pull-m9 {
          right: 75%; }
        .row .col.push-m9 {
          left: 75%; }
        .row .col.offset-m12 {
          margin-left: 100%; }
        .row .col.pull-m12 {
          right: 100%; }
        .row .col.push-m12 {
          left: 100%; } 
         }
    // column and row css end here

  /* can be removed with the mat-tool bar */
  html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87); }
    @media only screen and (min-width: 0) {
      html {
        font-size: 14px; } }
    @media only screen and (min-width: 992px) {
      html {
        font-size: 14.5px; } }
    @media only screen and (min-width: 1200px) {
      html {
        font-size: 15px; } }
        /* end here */
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3; }
  
  h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0; }
  
  h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0; }
  
  
.fill-remaining-space {
    flex: 1 1 auto;
  }

  .controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
    }

    .add-bottom-padding{
        padding-bottom: 10px;
    }

mat-radio-group mat-radio-button{
    margin-left: 5px;
}

.row {
    margin-bottom: 0px;
}

.alert-error{
   
    background-color:#F48FB1;
    color: white;
}

.alert-success{
    background-color: #546e7a;
    color:white;
}

.api-add-button {
    background-color:#546e7a;
    color: white;
    border-radius: 20px;
}
  
  .api-icon-button {
    color: #546e7a;
}